# Unity folders
Homebody-Monster_unity/Library/
Homebody-Monster_unity/Temp/
Homebody-Monster_unity/Obj/
Homebody-Monster_unity/Build/
Homebody-Monster_unity/Builds/
Homebody-Monster_unity/Logs/
Homebody-Monster_unity/UserSettings/
Homebody-Monster_unity/MemoryCaptures/

# Claude / Tooling
.claude/

# AssetMeta Checksums
Homebody-Monster_unity/Assets/AddressableAssetsData/*/*.bin*
Homebody-Monster_unity/Assets/StreamingAssets/aa.meta
Homebody-Monster_unity/Assets/StreamingAssets/aa/*

# Never ignore Asset meta files
!*.meta

# Ignore Personal Settings
Homebody-Monster_unity/.plastic/

# Ignore Documentation
Homebody-Monster_unity/Documentation~/
Homebody-Monster_unity/documentation~/

# Ignore Crashlytics
Homebody-Monster_unity/crashlytics_build_config.json

# Ignore Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.v12.suo
*.v12.user
*.v13.suo
*.v13.user
*.v14.suo
*.v14.user

# Ignore Visual Studio Code
.vscode/

# Ignore Rider
.idea/
*.sln.iml

# Ignore Apple
.DS_Store

# Ignore Android
*.apk
*.aab
*.unitypackage
